.background {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  background-size: 100% auto;
  background-image: url('./background.jpg');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}