@import 'bulma/sass/utilities/mixins.sass';
@import 'sass/variables.scss';

.cloud {
  margin: 2em calc(40px - 1rem);
  padding: 1em;
  position: sticky;
  top: calc(40px - 1rem);;
  background-color: $gray;
  border-radius: .25em;
  height: fill-available;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $gray;
  }
  .tagCloud {
    div {
      transition: 1.4s;
    }
  }

  @include mobile {
    margin: 1em;
    position: unset;
    top: unset;
    height: 90%;
    &::before {
      top: unset;
      left: 50%;
      bottom: -11px;
      border-right: 7px solid transparent;
      border-top: 7px solid rgba(0, 0, 0, 0.1);
    }
  }
}