@import 'sass/variables.scss';

.container {
  position: relative;
  .title {
    margin: 0rem 1rem;
    font-family: $headerFont;
  }
  .underline {
    position: absolute;
    bottom: 0;
    margin: 0rem;
    right: 75.3rem;
    height: 3px;
    background-color: $primary;
    color: $primary;
    transition: all .500s;
  }
}