@import 'bulma/sass/utilities/mixins.sass';
@import 'sass/variables.scss';

:global {
  .vertical-timeline {
    width: 100%;
    padding: 0;
    &::before {
      background: $darkgray;
    }
    .vertical-timeline-element--work {
      .vertical-timeline-element-content {
        background: $gray;
      }
    }
  }
}

.left {
  width: calc(100% + .75rem + 20px);
  padding-left: 1rem;
  :global {
    .vertical-timeline {
      padding-bottom: 225px;
      &::before {
        left: unset;
        right: 18px;
      }
      .vertical-timeline-element-content {
        margin-left: unset;
        margin-right: 60px;
        &::before {
          right: unset;
          left: 100%;
          border-right: unset;
          border-left: 7px solid $gray;
        }
      }
      .vertical-timeline-element-icon {
        left: unset;
        right: 0;
      }
    }
  }
  @include mobile {
    width: 100%;
    padding: 1em;
    :global {
      .vertical-timeline {
        padding: 0;
        margin: 0;
        &::before {
          display: none;
        }
        .vertical-timeline-element-content {
          margin: unset;
          &::before {
            top: -14px;
            left: 50%;
            border: 7px solid transparent;
            border-bottom: 7px solid rgba(0,0,0,.1);
          }
        }
        .vertical-timeline-element-icon {
          right: 1em;
          top: 1em;
          color: whitesmoke;
          z-index: 10;
        }
      }
    }
  }
}