@import 'bulma/sass/utilities/mixins.sass';

.body {
  flex-direction: row-reverse;
  margin-top: 1rem;
  padding-bottom: calc(40px - 1rem);
  margin-bottom: .75rem;
  .wordCloudColumn {
    height: inherit;
  }

  @include mobile {
    height: 9001%;
    padding: 1rem;
    .wordCloudColumn {
      height: 206px;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 20;
      padding-bottom: 0;
    }
  }
}