<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>alex chang</title>
    <link rel="preload" href="{{ url_for('static', filename='style/font.css') }}" as="style">
    <link rel="preload" href="{{ url_for('static', filename='dist/home.js') }}" as="script">

    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/home.css') }}">
</head>
<body>
    <div id='app' />
</body>

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/home.js') }}"></script>
{% endblock %}